@*@model ABCBankSystem.Models.BankAccount*@
@model ABCBankSystem.ViewModels.BankAccount.BankAccountViewModel

@{
    ViewData["Title"] = "Overdraft Charges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Overdraft Charges</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OverdraftCharges">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="ID" class="form-control"
                        asp-items="@(new SelectList(Model.ListofBankAccounts,"Value", "Text"))">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverDraftDays" class="control-label"></label>
                <input asp-for="OverDraftDays" class="form-control" />
                <span asp-validation-for="OverDraftDays" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
